@import ".././variable";

.footer {
  margin-top: 8rem;
  padding: 1rem;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content-title {
    font-size: 2rem;
  }

  &__contact {
    padding: 1rem;
  }

  &__logo-image {
    vertical-align: bottom;
  }

  &__logo-title {
    margin: 0;
    margin-left: .5rem;
    display: inline;
    font-family: 'Audiowide', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__office {
    padding: 1rem;
  }

  &__invoice {
    padding: 1rem;
  }

  &__copyright {
    color: rgb(129, 139, 144);
    padding: 1rem;
  }

  &__icon {
    margin-right: .6rem;
  }
}
