@import ".././variable";

.work {
  margin-top: 5rem;
  background: #E3E3E3;
  padding: 2rem 0;

  //override
  .vertical-timeline-element-icon {
    border: 3px solid lightgray;
    box-shadow: none;

    @media screen and (max-width: 1170px) {
      height: 50px;
      width: 50px;
      left: -5px;
    }
  }

  .vertical-timeline-element-title {
    font-size: 2rem;
  }

  .vertical-timeline-element-subtitle {
    font-size: 1.3rem;
    color: 	#696969;
    font-style: italic;
  }

  .vertical-timeline-element-text {
    font-size: 1.4rem;
  }

  .vertical-timeline-element-date {
    font-size: 1.8rem !important;
    color: black;
  }
}

.work-item {
  display: flex;

  &__image-wrapper {
    width: 40%;
    padding-right: 1rem;
  }

  &__image {
    border-radius: .5rem;
  }

  &__text-wrapper {
    width: 60%;
    padding-left: 1rem;
    font-size: 1.9rem;
  }

  &__icon {
    color: $darkgray;
    left: 3rem !important;

    @media screen and (max-width: 1170px) {
      left: 2.5rem !important;
    }
  }
}
