.work {
  margin-top: 5rem;
  background: #E3E3E3;
  padding: 2rem 0;
}

.timeline {

  &__title {
    font-size: 2rem;
  }
}

//override

.vertical-timeline-element-icon {
  border: 3px solid lightgray;
  box-shadow: none;
}
